*.pt filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text

Corpus/Corpora/fasttext_embedding filter=lfs diff=lfs merge=lfs -text
Corpus/Corpora/Char_level/word_matrix.npy filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.json !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
*.pt !text -filter -merge -diff
*.md !text !filter !merge !diff
*.pyc !text !filter !merge !diff
*.csv !text !filter !merge !diff
